<ion-header>
  <ion-navbar>
    <ion-title>
      View List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #item>
      <ion-item>
        <ion-avatar item-start>
          <img src="https://picsum.photos/40">
        </ion-avatar>
        <h2>Slimer</h2>
        <p>This is description</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button (click)="favorite(item)">Edit</button>
        <button ion-button color="danger" (click)="share(item)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
